.Icon-icon-0-2-26 {
  display: flex;
}
.btnContentContainer-0-2-34 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-0-2-39 {
  border-color: #c0c0c0 !important;
  background-color: #ffffff !important;
}
.third-0-2-39:hover {
  border-color: #b0b0b0 !important;
}
.third-0-2-39:active {
  border-color: #b0b0b0 !important;
}
.third-0-2-39 .btnCopy-0-2-41 {
  color: #292929;
}
.third-0-2-39:active .btnCopy-0-2-41 {
  color: #000000;
}
.third-0-2-39:hover .btnCopy-0-2-41 {
  color: #505050;
}
.thirdLight-0-2-40 {
  border-color: #f5f5f5 !important;
  background-color: transparent !important;
}
.thirdLight-0-2-40:hover {
  opacity: 0.85;
}
.btnCopy-0-2-41 {
  color: #ffffff;
  order: 2;
  font-style: normal;
  transition: 0.2s;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-shadow: none !important;
  white-space: nowrap;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: none !important;
}
.flexible-0-2-42 {
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.loadingStatus-0-2-44 {
  user-select: none;
  border-color: #dadada !important;
  pointer-events: none;
  background-color: #ffffff !important;
}
.loadingStatus-0-2-44:hover {
  border-color: #dadada !important;
  background-color: #ffffff !important;
}
.loadingStatus-0-2-44 .btnCopy-0-2-41 {
  color: #dadada;
}
.loadingStatus-0-2-44 .h-fill {
  color: #dadada;
}
.successStatus-0-2-45 {
  user-select: none;
  border-color: #00c57d !important;
  pointer-events: none;
  background-color: #ffffff !important;
}
.successStatus-0-2-45:hover {
  border-color: #00c57d !important;
  background-color: #ffffff !important;
}
.successStatus-0-2-45 .btnCopy-0-2-41 {
  color: #00c57d;
}
.successStatus-0-2-45 .h-fill {
  color: #00c57d;
}
.failedStatus-0-2-46 {
  user-select: none;
  border-color: #ff5252 !important;
  pointer-events: none;
  background-color: #ffffff !important;
}
.failedStatus-0-2-46:hover {
  border-color: #ff5252 !important;
  background-color: #ffffff !important;
}
.failedStatus-0-2-46 .btnCopy-0-2-41 {
  color: #ff5252;
}
.failedStatus-0-2-46 .h-fill {
  color: #ff5252;
}
.disabledStatus-0-2-47 {
  user-select: none;
  border-color: #dadada !important;
  pointer-events: none;
  background-color: #dadada !important;
}
.disabledStatus-0-2-47:hover {
  border-color: #dadada !important;
  background-color: #ffffff !important;
}
.disabledStatus-0-2-47 .btnCopy-0-2-41 {
  color: #ffffff;
}
.disabledStatus-0-2-47 .h-fill {
  color: #ffffff;
}
.btn-0-0-2-48 {
  cursor: pointer;
  height: 32px;
  outline: none;
  padding: 0px 12px;
  background: none;
  box-shadow: none;
  transition: 0.2s;
  text-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.btn-0-0-2-48 .btnCopy-0-2-41 {
  font-size: 14px;
}
.btn-0-0-2-48:before {
  content: none !important;
}
.btn-0-0-2-48:after {
  content: none !important;
}
.primary-1-0-2-49 {
  border-color: #cc4b06;
  background-color: #cc4b06;
}
.primary-1-0-2-49:hover {
  border-color: #f26c25 !important;
  background-color: #f26c25 !important;
}
.primary-1-0-2-49:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondary-2-0-2-50 {
  border-color: #cc4b06;
  background-color: #cc4b06;
}
.secondary-2-0-2-50:hover {
  border-color: #f26c25 !important;
  background-color: #f26c25 !important;
}
.secondary-2-0-2-50:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondaryGhost-3-0-2-51 {
  border-color: #cc4b06;
  background-color: #ffffff;
}
.secondaryGhost-3-0-2-51:hover {
  border-color: #cc4b06 !important;
  background-color: #cc4b06 !important;
}
.secondaryGhost-3-0-2-51:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondaryGhost-3-0-2-51 .btnCopy-0-2-41 {
  color: #cc4b06;
}
.secondaryGhost-3-0-2-51:hover .btnCopy-0-2-41 {
  color: #ffffff;
}
.secondaryGhost-3-0-2-51:hover path {
  fill: #ffffff !important;
  transition: 0.2s;
}
.btnIcon-4-0-2-52 {
  order: 1;
  display: flex;
}
.btn-5-0-2-107 {
  cursor: pointer;
  height: 48px;
  outline: none;
  padding: 0px 16px;
  background: none;
  box-shadow: none;
  transition: 0.2s;
  text-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.btn-5-0-2-107 .btnCopy-0-2-41 {
  font-size: 16px;
}
.btn-5-0-2-107:before {
  content: none !important;
}
.btn-5-0-2-107:after {
  content: none !important;
}
.primary-6-0-2-108 {
  border-color: green;
  background-color: green;
}

.primary-6-0-2-108:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondary-7-0-2-109 {
  border-color: #cc4b06;
  background-color: #cc4b06;
}
.secondary-7-0-2-109:hover {
  border-color: #f26c25 !important;
  background-color: #f26c25 !important;
}
.secondary-7-0-2-109:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondaryGhost-8-0-2-110 {
  border-color: #cc4b06;
  background-color: #ffffff;
}
.secondaryGhost-8-0-2-110:hover {
  border-color: #cc4b06 !important;
  background-color: #cc4b06 !important;
}
.secondaryGhost-8-0-2-110:active {
  border-color: #aa420b !important;
  background-color: #aa420b !important;
}
.secondaryGhost-8-0-2-110 .btnCopy-0-2-41 {
  color: #cc4b06;
}
.secondaryGhost-8-0-2-110:hover .btnCopy-0-2-41 {
  color: #ffffff;
}
.secondaryGhost-8-0-2-110:hover path {
  fill: #ffffff !important;
  transition: 0.2s;
}
.btnIcon-9-0-2-111 {
  order: 1;
  display: flex;
  margin-right: 10px;
}
.inputActionText-0-2-98 {
  color: #3d68fb;
  opacity: 1;
  font-size: 11px;
  text-align: right;
  transition: 0.2s;
  font-weight: 600;
  line-height: 15px;
  margin-left: 5px;
  text-decoration: underline;
}
.inputActionText-0-2-98.invis {
  margin: 0px;
  opacity: 0;
}
.inputActionText-0-2-98:hover {
  color: #6083fb;
}
.inputActionText-0-2-98:active {
  color: #3256ce;
}
.inputForm-0-2-99 {
  color: #292929;
  width: 100%;
  border: 1px solid #dadada;
  height: 100%;
  outline: none;
  padding: 0px 12px 0px 10px;
  font-size: 14px;
  transition: 0.2s;
  font-weight: 500;
  border-radius: 3px;
  -webkit-appearance: none;
}
.inputForm-0-2-99.success {
  border-color: #00c57d;
  padding-right: 26px;
}
.inputForm-0-2-99.failed {
  border-color: #ff5252;
  padding-right: 26px;
}
.inputForm-0-2-99.submitted {
  color: #808080;
}
.inputForm-0-2-99.required {
  padding-left: 19px;
}
.inputForm-0-2-99.size32 {
  height: 32px;
  padding-left: 8px;
}
.inputForm-0-2-99.size40 {
  height: 40px;
  padding-top: 2px;
}
.inputForm-0-2-99.size48 {
  height: 48px;
  font-size: 16px;
  padding-top: 15px;
}
.inputForm-0-2-99.size56 {
  height: 56px;
  font-size: 16px;
  padding-top: 18px;
}
.inputForm-0-2-99.size88 {
  height: 88px;
  resize: none;
  padding-top: 26px;
}
.inputForm-0-2-99.disabled {
  background-color: #eeeeee;
}
.inputForm-0-2-99:focus {
  border-color: #b0b0b0;
}
/* .inputForm-0-2-99:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  } */
.inputForm-0-2-99:focus.size48 ~ .inputLabelContainer-0-2-102 {
  top: 7px;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 16px;
}
.inputForm-0-2-99:focus.size56 ~ .inputLabelContainer-0-2-102 {
  top: 9px;
  color: #b0b0b0;
  font-size: 12px;
}
.inputForm-0-2-99:focus.size88 ~ .inputLabelContainer-0-2-102 {
  top: 8px;
  color: #b0b0b0;
  font-size: 12px;
}
.inputForm-0-2-99:focus.success {
  border-color: #00c57d;
}
.inputForm-0-2-99:focus.failed {
  border-color: #ff5252;
}
.inputForm-0-2-99:focus.failed.size48 ~ .inputLabelContainer-0-2-102 {
  color: #ff5252;
}
.inputForm-0-2-99:focus.failed.size56 ~ .inputLabelContainer-0-2-102 {
  color: #ff5252;
}
.inputForm-0-2-99:focus.failed.size88 ~ .inputLabelContainer-0-2-102 {
  color: #ff5252;
}
.inputForm-0-2-99:focus.success.size48 ~ .inputLabelContainer-0-2-102 {
  color: #00c57d;
}
.inputForm-0-2-99:focus.success.size56 ~ .inputLabelContainer-0-2-102 {
  color: #00c57d;
}
.inputForm-0-2-99:focus.success.size88 ~ .inputLabelContainer-0-2-102 {
  color: #00c57d;
}
.inputForm-0-2-99.size32.required {
  padding-left: 17px;
}
.inputHintContainer-0-2-100 {
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
}
.inputHintText-0-2-101 {
  color: #ff5252;
  opacity: 1;
  overflow: hidden;
  font-size: 11px;
  transition: 0.2s;
  font-weight: 500;
  line-height: 15px;
  user-select: none;
  white-space: nowrap;
}
.inputHintText-0-2-101.invis {
  height: 15px;
  opacity: 0;
}
.inputLabelContainer-0-2-102 {
  left: 0px;
  color: #b0b0b0;
  width: calc(100% - 11px);
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  transition: 0.2s;
  align-items: flex-start;
  user-select: none;
  padding-left: 11px;
  pointer-events: none;
}
.inputLabelContainer-0-2-102.size32 {
  top: 6px;
  width: calc(100% - 8px);
  font-size: 14px;
  padding-left: 8px;
}
.inputLabelContainer-0-2-102.size40 {
  top: 12px;
  font-size: 14px;
}
.inputLabelContainer-0-2-102.size48 {
  top: 15px;
  font-size: 14px;
}
.inputLabelContainer-0-2-102.size56 {
  top: 17px;
}
.inputLabelContainer-0-2-102.size88 {
  top: 8px;
  font-size: 14px;
}
.inputLabelContainer-0-2-102.raised {
  top: 8px;
  font-size: 12px;
}
.inputLabelContainer-0-2-102.success {
  color: #00c57d;
}
.inputLabelContainer-0-2-102.failed {
  color: #ff5252;
}
.inputLabelContainer-0-2-102.raised.submitted {
  color: #c0c0c0;
}
.inputLabelContainer-0-2-102.size56.raised {
  top: 9px;
}
.inputLabelContainer-0-2-102.size48.raised {
  top: 7px;
}
.inputLabelStar-0-2-103 {
  color: #ff5252;
  font-size: inherit;
  font-weight: 500;
  padding-top: 3px;
  margin-right: 2px;
}
.inputLabelStar-0-2-103.success {
  color: #00c57d;
}
.inputLabelStar-0-2-103.disabled {
  color: #c0c0c0;
}
.inputLabelText-0-2-104 {
  color: inherit;
  opacity: 1;
  font-size: inherit;
  font-weight: 500;
  white-space: nowrap;
}
.inputLabelText-0-2-104.invis {
  opacity: 0;
}
.inputLabelText-0-2-104.focused.size32 {
  opacity: 0;
  transition: 0.2s;
}
.inputLabelText-0-2-104.focused.size40 {
  opacity: 0;
  transition: 0.2s;
}
.inputMain-0-2-105 {
  width: 100%;
  display: flex;
  position: relative;
  transition: 0.2s;
}
.inputStatusIcon-0-2-106 {
  right: 12px;
  position: absolute;
  user-select: none;
}
.inputStatusIcon-0-2-106.size32 {
  top: 6px;
  right: 8px;
}
.inputStatusIcon-0-2-106.size40 {
  top: 12px;
}
.inputStatusIcon-0-2-106.size48 {
  top: 15px;
}
.inputStatusIcon-0-2-106.size56 {
  top: 20px;
}
.inputStatusIcon-0-2-106.size88 {
  top: 8px;
}
.inputStatusIcon-0-2-106.size32 .loading-icon {
  margin-top: 1px;
}
.inputStatusIcon-0-2-106.size32 .v2-icon-check-16 {
  margin-top: 1px;
}
.inputStatusIcon-0-2-106.size32 .v2-icon-i-16 {
  margin-top: 1px;
}
.inputStatusIcon-0-2-106.size32 .v2-icon-warning-mini-16 {
  margin-top: 1px;
}
.Image-fitContainer-0-2-27 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.Image-loading-0-2-28 {
  opacity: 0;
  transition: opacity 200ms;
}
.Image-load-0-2-29 {
  opacity: 1;
}
.NotificationBanner-blue-0-2-5 {
  background-color: #3d68fb;
}
.NotificationBanner-breakCloseIcon-0-2-6 {
  display: none;
}
@media (max-width: 600px) {
  .NotificationBanner-breakCloseIcon-0-2-6 {
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 0px 0px 8px 8px;
    justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  .NotificationBanner-breakpoint-0-2-7 {
    flex-direction: column;
  }
}
.NotificationBanner-button-0-2-8 {
  margin-right: 24px;
}
@media (max-width: 600px) {
  .NotificationBanner-button-0-2-8 {
    margin-right: 0px;
  }
}
.NotificationBanner-center-0-2-9 {
  text-align: center;
  justify-content: center;
}
.NotificationBanner-closeIcon-0-2-10 {
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 600px) {
  .NotificationBanner-closeIconBbreakpoint-0-2-11 {
    display: none;
  }
}
.NotificationBanner-copy-0-2-12 {
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 14px;
  transition: 0.2s;
  font-weight: 500;
}
.NotificationBanner-closed-0-2-13 {
  display: none !important;
}
.NotificationBanner-darkCopy-0-2-14 {
  color: #808080;
}
.NotificationBanner-dismissContainer-0-2-15 {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
@media (max-width: 600px) {
  .NotificationBanner-dismissContainerBreakpoint-0-2-16 {
    margin-top: 20px;
    margin-left: 0px;
  }
}
.NotificationBanner-green-0-2-17 {
  background-color: #00c57d;
}
.NotificationBanner-grey-0-2-18 {
  background-color: #e7e7e7;
}
.NotificationBanner-iconStyle-0-2-19 {
  margin-right: 24px;
}
@media (max-width: 600px) {
  .NotificationBanner-iconStyleBreakpoint-0-2-20 {
    display: none;
  }
}
.NotificationBanner-left-0-2-21 {
  justify-content: flex-start;
}
.NotificationBanner-mainContainer-0-2-22 {
  width: 100%;
  display: flex;
  padding: 10px 24px;
  z-index: 999;
  transition: 0.2s;
  align-items: center;
  justify-content: space-between;
}
.NotificationBanner-mainContainer-0-2-22.closed {
  height: 0px;
  padding: 0px 24px;
}
.NotificationBanner-red-0-2-23 {
  background-color: #ff5252;
}
.NotificationBanner-right-0-2-24 {
  text-align: right;
  justify-content: flex-end;
}
.NotificationBanner-tall-0-2-25 {
  padding: 20px 24px;
}
.CookieConsentBanner-link-0-2-30 {
  color: #ffffff !important;
  transition: 0.2s;
  text-decoration: underline;
}
.CookieConsentBanner-link-0-2-30:hover {
  color: #e7e7e7 !important;
  text-decoration: underline;
}
.CookieConsentBanner-mainContainer-0-2-31 {
  width: 100%;
  bottom: 0px;
  z-index: 999;
  position: fixed;
  transition: 0.2s;
}
.CookieConsentBanner-secondaryText-0-2-32 {
  margin-top: 3px;
}
@media (max-width: 1096px) {
  .CookieConsentBanner-secondaryText-0-2-32 {
    margin-top: 7px;
  }
}
@media (max-width: 600px) {
  .CookieConsentBanner-secondaryText-0-2-32 {
    margin-top: 10px;
  }
}
.CookieConsentBanner-textContainer-0-2-33 {
  color: #ffffff;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .CookieConsentBanner-textContainer-0-2-33 {
    font-size: 12px !important;
  }
}
@media (max-width: 600px) {
  .CookieConsentBanner-textContainer-0-2-33 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}
.logo-0-2-1 {
  padding-right: 10px;
}
.button-0-2-2 {
  color: #505050;
  padding: 6px 12px;
  margin-top: 4px;
  margin-left: 20px;
  border-color: #b0b0b0;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.mainContainer-0-2-3 {
  width: 100%;
  bottom: 0px;
  z-index: 999;
  position: fixed;
}
.textContainer-0-2-4 {
  color: #505050;
}
@media (max-width: 768px) {
  .textContainer-0-2-4 {
    margin-left: -52px;
  }
}
.SocialButton-main-0-2-85 {
  width: 100%;
  height: 48px;
  outline: none;
  padding-top: 2px;
  border-radius: 3px;
}
.SocialButton-mainApple-0-2-86 {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
}
.SocialButton-mainApple-0-2-86:hover {
  background-color: #fafafa;
}
.SocialButton-mainApple-0-2-86:active {
  background-color: #eeeeee;
}
.SocialButton-mainFacebook-0-2-87 {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
}
.SocialButton-mainFacebook-0-2-87:hover {
  background-color: #fafafa;
}
.SocialButton-mainFacebook-0-2-87:active {
  background-color: #eeeeee;
}
.SocialButton-mainMessenger-0-2-88 {
  background-color: #0084ff;
}
.SocialButton-mainMessenger-0-2-88:hover {
  background-color: #2495ff;
}
.SocialButton-mainMessenger-0-2-88:active {
  background-color: #3d68fb;
}
.SocialButton-mainTwitter-0-2-89 {
  background-color: #55acee;
}
.SocialButton-mainTwitter-0-2-89:hover {
  background-color: #65bcfe;
}
.SocialButton-mainTwitter-0-2-89:active {
  background-color: #459cde;
}
.SocialButton-mainGoogle-0-2-90 {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
}
.SocialButton-mainGoogle-0-2-90:hover {
  background-color: #fafafa;
}
.SocialButton-mainGoogle-0-2-90:active {
  background-color: #eeeeee;
}
.SocialButton-mainPayPal-0-2-91 {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
}
.SocialButton-mainPayPal-0-2-91:hover {
  background-color: #fafafa;
}
.SocialButton-mainPayPal-0-2-91:active {
  background-color: #eeeeee;
}
.SocialButton-contentContainer-0-2-92 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SocialButton-copy-0-2-93 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 10px;
}
.SocialButton-copyApple-0-2-94 {
  color: #505050;
}
.SocialButton-copyFacebook-0-2-95 {
  color: #505050;
}
.SocialButton-copyGoogle-0-2-96 {
  color: #505050;
}
.SocialButton-copyPayPal-0-2-97 {
  color: #505050;
}
.socialContainer-0-2-83 {
  display: flex;
  flex-direction: column;
}
.socialContainer-0-2-83.halfWidthSocialButtons {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.socialButton-0-2-84 {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.socialButton-0-2-84:last-child {
  margin-bottom: 0px;
}
.socialButton-0-2-84.halfWidthSocialButtons {
  width: 49%;
  margin-right: 0px;
}
.socialButton-0-2-84.customMargin {
  margin-right: 2% !important;
}
.DataOptions-inline-0-2-117 {
  margin-left: 3px;
}
.DataOptions-block-0-2-118 {
  display: block;
}
.DataOptions-link-0-2-119 {
  color: #c0c0c0;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  text-decoration: underline;
}
.DataOptions-link-0-2-119:hover {
  color: #dadada;
}
.termsContainer-0-2-112 {
  color: #b0b0b0;
  font-size: 11px;
  margin-top: 8px;
  font-weight: 500;
  line-height: 16px;
}
.termsContainer-0-2-112.login {
  display: none;
}
.termsText-0-2-113 {
  color: #c0c0c0;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
}
.termsText-0-2-113:hover {
  color: #dadada;
  text-decoration: underline;
}
.checkboxContainer-0-2-114 {
  display: flex;
  align-items: flex-start;
}
.checkbox-0-2-115 {
  margin-top: 4px;
}
.checkbox-0-2-115 div[class*="checkbox"] {
  background-color: transparent;
}
.checkbox-0-2-115 .h-icon path {
  fill: #505050 !important;
}
.checkboxLabel-0-2-116 {
  color: #b0b0b0;
  font-size: 11px;
  font-weight: 500;
}
.withCookies\(AuthView\)-authPasswordStrength-0-2-69 {
  margin-top: -10px;
}
.withCookies\(AuthView\)-backIcon-0-2-70 {
  width: 65px;
  cursor: pointer;
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.withCookies\(AuthView\)-backIcon-0-2-70.welcomeNew {
  position: absolute;
  margin-top: 75px;
}
.withCookies\(AuthView\)-backIcon-0-2-70.welcomeOld {
  position: absolute;
  margin-top: -118px;
}
.withCookies\(AuthView\)-backIcon-0-2-70.welcomeOld.login {
  margin-top: -123px;
}
.withCookies\(AuthView\)-backText-0-2-71 {
  color: #505050;
  margin-left: 10px;
}
.withCookies\(AuthView\)-main-0-2-72 {
  width: 100%;
}
.withCookies\(AuthView\)-notification-0-2-73 {
  margin-bottom: 25px;
}
.withCookies\(AuthView\)-orContainer-0-2-74 {
  height: 21px;
  margin: 20px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.withCookies\(AuthView\)-bars-0-2-75 {
  width: 100%;
  height: 11px;
  border-top: 1px solid #dadada;
}
.withCookies\(AuthView\)-orText-0-2-76 {
  color: #c0c0c0;
  width: 30px;
  margin: 0px 8px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.withCookies\(AuthView\)-inputContainer-0-2-77 {
  line-height: 20px;
}
.withCookies\(AuthView\)-inputContainer-0-2-77.password {
  margin-top: -7px;
}
.withCookies\(AuthView\)-switch-0-2-78 {
  color: #292929;
  font-size: 14px;
  margin-top: 25px;
  font-weight: 500;
}
.withCookies\(AuthView\)-switch-0-2-78 .cta {
  color: #3d68fb;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
}
.withCookies\(AuthView\)-switch-0-2-78 .cta:hover {
  color: #6083fb;
}
.withCookies\(AuthView\)-switchJoin-0-2-79 {
  margin-top: 24px;
}
@media (max-height: 480px) {
  .withCookies\(AuthView\)-switchJoin-0-2-79 {
    margin-top: 16px;
  }
}
.withCookies\(AuthView\)-forgotPassword-0-2-80 {
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}
.withCookies\(AuthView\)-forgotPassword-0-2-80:hover {
  color: #b0b0b0;
  text-decoration: underline;
}
.withCookies\(AuthView\)-completeLater-0-2-81 {
  color: #b0b0b0;
  cursor: pointer;
  margin: 25px 0px 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.withCookies\(AuthView\)-recaptcha-0-2-82 {
  margin-bottom: 16px;
}
.ImageLink-main-0-2-67 {
  cursor: pointer;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ImageLink-image-0-2-68 {
  max-width: 95px;
}
.main-0-2-61 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.header-0-2-62 {
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0px 32px;
  z-index: 100;
  position: relative;
  transition: 0.2s;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .header-0-2-62 {
    padding: 0px 25px;
  }
}
.loginButton-0-2-63 {
  color: #0f3133;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
}
.loginButton-0-2-63:hover {
  color: #505050;
}
.closeIcon-0-2-64 {
  cursor: pointer;
  margin-right: -12px;
}
.children-0-2-65 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContainer-0-2-66 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -70px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.authContainer-0-2-53 {
  width: 440px;
  height: 80%;
  display: flex;
  z-index: 1;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
@media (max-height: 860px) {
  .authContainer-0-2-53 {
    margin-top: 20px;
  }
}
.buttonSmall-0-2-54 {
  color: #b0b0b0;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.2s;
  text-decoration: underline;
}
.buttonSmall-0-2-54:hover {
  color: #c0c0c0;
}
.image-0-2-55 {
  opacity: 1;
  z-index: 0;
  min-height: 100vh;
}
.leftImage-0-2-56 {
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: 0.4s;
}
@media (max-width: 1245px) {
  .leftImage-0-2-56 {
    opacity: 0.4;
  }
}
.rightImage-0-2-57 {
  right: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: 0.2s;
}
@media (max-width: 1245px) {
  .rightImage-0-2-57 {
    opacity: 0.4;
  }
}
.rightPanel-0-2-58 {
  width: 62.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.text-0-2-59 {
  color: #808080;
  display: flex;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 22px;
  justify-content: center;
}
.title-0-2-60 {
  color: #292929;
  display: flex;
  letter-spacing: -1px;
  justify-content: center;
}
#Chaching .h-btn .h-btn-copy {
  margin: 0px !important;
}
a {
  color: #3256ce;
  display: inline-block;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
input.center:focus::-webkit-input-placeholder {
  opacity: 0px;
}
body {
  background: #fafafa;
  color: #505050;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.43;
  margin: 0px;
}
button {
  background: green;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  outline: 0;
  vertical-align: top;
  white-space: nowrap;
}
h2 {
  font-size: 32px;
  font-weight: 500;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
.grecaptcha-badge {
  display: none;
}
html,
body,
#content,
#content > div,
#Chaching {
  font-size: 14px;
  height: 100%;
}
img {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
